.tools{
    background-color:#272b36;
    border-top:.4em solid #4a5061;
    color:#fff;
    text-align:center;
    padding:2em;
}
.tools-container{
    display:grid;
    grid-template-columns:minmax(auto,1024px);
    justify-content:center
}
.tools-title{
    padding:0 0 1.5em 0;
    margin:0 auto;
    width:80%;
    line-height:1.8em;
}
.tools-title h2{
    font-family:'Montserrat',sans-serif;
    font-size:20px;
    font-weight:200
}
.tools-items{
    font-family:'Oxygen',sans-serif;
    display:block;
}
@media only screen and (min-width:30em){
    .tools-items{
        display:flex;
        justify-content:space-between
    }
}
.tools-item{
    text-align:center;
    padding:0 0 1em 0;
}
@media only screen and (min-width:30em){
    .tools-item{
        width:120px
    }
}
.tools-item img{
    width:64px;
    padding:0 0 .5em 0
}
.tools-item h3{
    font-size:20px;
    font-family:'Oxygen',sans-serif;
    font-weight:normal
}